#board{
  display: flex;
  flex-wrap: wrap;
  background: blue;
  height: 650px;
  width: 700px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 10px;
}

.circle{
  width: 10%;
  height: 10%;
  border-radius: 40px;
  margin: 2%;
}

.white{
  background: white;
}

.red{
  background: red;
}

.yellow{
  background: yellow;
}
